# This script contains the following points:


### 01. Import libraries
### 02. Import data
### 03. Basic data cleaning and consistency checks

# 01. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# 02. Import data

In [13]:
# Set path

path = r'C:\Users\nang6\OneDrive\Bureau\Data Analytics\Data Immersion\Achievement 6'

In [14]:
# Import data set

df = pd.read_csv(os.path.join(path, 'Open Data Source', 'Raw Data', 'WHR 2008-2022.csv'), index_col = False)

# 03. Basic data cleaning and consistency checks

In [15]:
# Check first 5 rows

df.head()

,Country name,Region,Year,Life ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,Southern Asia,2008,3.724,7.350,0.451,50.5,0.718,0.168,0.882,0.414,0.258
1,Afghanistan,Southern Asia,2009,4.402,7.509,0.552,50.8,0.679,0.191,0.850,0.481,0.237
2,Afghanistan,Southern Asia,2010,4.758,7.614,0.539,51.1,0.600,0.121,0.707,0.517,0.275
3,Afghanistan,Southern Asia,2011,3.832,7.581,0.521,51.4,0.496,0.164,0.731,0.480,0.267
4,Afghanistan,Southern Asia,2012,3.783,7.661,0.521,51.7,0.531,0.238,0.776,0.614,0.268

In [16]:
# Check last 5 rows

df.tail()

,Country name,Region,Year,Life ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
2194,Zimbabwe,Sub-Saharan Africa,2018,3.616,7.783,0.775,52.625,0.763,-0.051,0.844,0.658,0.212
2195,Zimbabwe,Sub-Saharan Africa,2019,2.694,7.698,0.759,53.100,0.632,-0.047,0.831,0.658,0.235
2196,Zimbabwe,Sub-Saharan Africa,2020,3.160,7.596,0.717,53.575,0.643,0.006,0.789,0.661,0.346
2197,Zimbabwe,Sub-Saharan Africa,2021,3.155,7.657,0.685,54.050,0.668,-0.076,0.757,0.610,0.242
2198,Zimbabwe,Sub-Saharan Africa,2022,3.296,7.670,0.666,54.525,0.652,-0.070,0.753,0.641,0.191

### Renaming Columns:

In [17]:
# Check rows and columns

df.shape

(2199, 12)

In [18]:
df.columns

Index(['Country name', 'Region', 'Year', 'Life ladder', 'Log GDP per capita',
       'Social support', 'Healthy life expectancy at birth',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Positive affect', 'Negative affect'],
      dtype='object')

In [19]:
# Rename columns for shorter and more concise format

df.rename(columns = {'Country name' : 'Country',
                     'Life ladder': 'Happiness Score', 'Log GDP per capita': 'GDP per Capita', 
                     'Social support': 'Social Support', 'Healthy life expectancy at birth': 'Life Expectancy',
                     'Freedom to make life choices': 'Freedom', 'Generosity': 'Charity',
                     'Perceptions of corruption': 'Corruption Perception', 'Positive affect': 'Positive Emotions',
                     'Negative affect': 'Negative Emotions'}, inplace = True)

In [20]:
# Check for column names and data types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2199 entries, 0 to 2198
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                2199 non-null   object
 1   Region                 2199 non-null   object
 2   Year                   2199 non-null   int64
 3   Happiness Score        2199 non-null   float64
 4   GDP per Capita         2179 non-null   float64
 5   Social Support         2186 non-null   float64
 6   Life Expectancy        2145 non-null   float64
 7   Freedom                2166 non-null   float64
 8   Charity                2126 non-null   float64
 9   Corruption Perception  2083 non-null   float64
 10  Positive Emotions      2175 non-null   float64
 11  Negative Emotions      2183 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 206.3+ KB

### Observation:

We can already see that there are missing values based on the Non-Null Count

In [21]:
# Check for missing values

df.isnull().sum()

Country                    0
Region                     0
Year                       0
Happiness Score            0
GDP per Capita            20
Social Support            13
Life Expectancy           54
Freedom                   33
Charity                   73
Corruption Perception    116
Positive Emotions         24
Negative Emotions         16
dtype: int64

#### Observation:

I will leave those missing values here for now as depending on the analysis, I will therefore decide if I'd use the mean or delete those missing values.

In [29]:
# Check for duplicates

df_dups = df[df.duplicated()]

In [25]:
df_dups.shape # No duplicates!

(0, 12)

In [28]:
# Check for mixed-type data

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

 # No mixed-type columns either!

In [30]:
# Descriptive statistics

df.describe()

,Year,Happiness Score,GDP per Capita,Social Support,Life Expectancy,Freedom,Charity,Corruption Perception,Positive Emotions,Negative Emotions
count,2199.000000,2199.000000,2179.000000,2186.000000,2145.000000,2166.000000,2126.000000,2083.000000,2175.000000,2183.000000
mean,2014.161437,5.479227,9.389760,0.810681,63.294582,0.747847,0.000091,0.745208,0.652148,0.271493
std,4.718736,1.125527,1.153402,0.120953,6.901104,0.140137,0.161079,0.185835,0.105913,0.086872
min,2005.000000,1.281000,5.527000,0.228000,6.720000,0.258000,-0.338000,0.035000,0.179000,0.083000
25%,2010.000000,4.647000,8.500000,0.747000,59.120000,0.656250,-0.112000,0.688000,0.572000,0.208000
50%,2014.000000,5.432000,9.499000,0.836000,65.050000,0.770000,-0.023000,0.800000,0.663000,0.261000
75%,2018.000000,6.309500,10.373500,0.905000,68.500000,0.859000,0.092000,0.869000,0.738000,0.323000
max,2022.000000,8.019000,11.664000,0.987000,74.475000,0.985000,0.703000,0.983000,0.884000,0.705000

### Observation:

Everything seems ok

In [31]:
# Export

df.to_csv(os.path.join(path, 'Open Data Source','Cleaned Data', 'WHR (2008-2022)_checked.csv'))